# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [98]:
import pandas as pd # импортируйте библиотеку pandas

In [99]:
data = pd.read_csv('/datasets/data.csv') # прочитайте csv-файл

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [100]:
data.head(20) # ваш код здесь

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [101]:
data.info() # ваш код здесь

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [102]:
data.isnull().sum() # ваш код здесь

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [103]:
for income_type in data['income_type'].unique():
    data.loc[(data['income_type'] == income_type) & (data['total_income'].isna()), 'total_income'] = data.loc[data['income_type'] == income_type, 'total_income'].median()
print(data['total_income'].isna().sum())

0

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [104]:
data['days_employed'] = data['days_employed'].abs()# ваш код здесь

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [105]:
data.groupby('income_type')['days_employed'].median() # ваш код здесь

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [106]:
data['children'].unique() # ваш код здесь

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [107]:
data = data.drop(data[(data['children'] == -1) | (data['children'] == 20)].index)# ваш код здесь

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [108]:
data['children'].unique() # ваш код здесь

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [109]:
for income_type in data['income_type'].unique():
    data.loc[(data['income_type'] == income_type) & (data['days_employed'].isna()), 'days_employed'] = data.loc[data['income_type'] == income_type, 'days_employed'].median()# ваш код здесь

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [110]:
data.isnull().sum() # ваш код здесь

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [111]:
data['total_income'] = data['total_income'].astype('int') # ваш код здесь

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [112]:
data['education'] = data['education'].str.lower()
print(data['education'])

0         высшее
1        среднее
2        среднее
3        среднее
4        среднее
          ...
21520    среднее
21521    среднее
21522    среднее
21523    среднее
21524    среднее
Name: education, Length: 21402, dtype: object

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [116]:
data.duplicated().sum()
# посчитайте дубликаты

71

In [117]:
data = data.drop_duplicates(keep='first') # удалите дубликаты

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [ ]:
def categorize_income(income):
    if income <= 30000:
        return 'E'
    elif income <= 50000:
        return 'D'
    elif income <= 200000:
        return 'C'
    elif income <= 1000000:
        return 'B'
    else:
        return 'A'
    

    # создайте функцию categorize_income()

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)# примените функцию методом apply()

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [118]:
data['purpose'].unique() # ваш код здесь

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [126]:
def categorize_purpose(purpose):
    if 'авто' in purpose:
        return 'операции с автомобилем'
    elif 'жил' in purpose or 'недвиж' in purpose:
        return 'операции с недвижимостью'
    elif 'свад' in purpose:
        return 'проведение свадьбы'
    else:
        return 'получение образования'

# создайте функцию categorize_purpose()

In [127]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
print(data.head(30)) # примените функцию методом apply()

    children  days_employed  dob_years            education  education_id  \
0          1    8437.673028         42               высшее             0
1          1    4024.803754         36              среднее             1
2          0    5623.422610         33              среднее             1
3          3    4124.747207         32              среднее             1
4          0  340266.072047         53              среднее             1
5          0     926.185831         27               высшее             0
6          0    2879.202052         43               высшее             0
7          0     152.779569         50              среднее             1
8          2    6929.865299         35               высшее             0
9          0    2188.756445         41              среднее             1
10         2    4171.483647         36               высшее             0
11         0     792.701887         40              среднее             1
12         0  365286.622650         65              среднее             1
13         0    1846.641941         54  неоконченное высшее             2
14         0    1844.956182         56               высшее             0
15         1     972.364419         26              среднее             1
16         0    1719.934226         35              среднее             1
17         0    2369.999720         33               высшее             0
18         0  400281.136913         53              среднее             1
19         0   10038.818549         48              среднее             1
20         1    1311.604166         36              среднее             1
21         1     253.685166         33              среднее             1
22         1    1766.644138         24              среднее             1
23         0     272.981385         21               высшее             0
24         1  338551.952911         57              среднее             1
25         0  363548.489348         67              среднее             1
26         0    2689.137274         41              среднее             1
27         0     529.191635         28               высшее             0
28         1     717.274324         26               высшее             0
29         0  365286.622650         63              среднее             1

            family_status  family_status_id gender  income_type  debt  \
0         женат / замужем                 0      F    сотрудник     0
1         женат / замужем                 0      F    сотрудник     0
2         женат / замужем                 0      M    сотрудник     0
3         женат / замужем                 0      M    сотрудник     0
4        гражданский брак                 1      F    пенсионер     0
5        гражданский брак                 1      M    компаньон     0
6         женат / замужем                 0      F    компаньон     0
7         женат / замужем                 0      M    сотрудник     0
8        гражданский брак                 1      F    сотрудник     0
9         женат / замужем                 0      M    сотрудник     0
10        женат / замужем                 0      M    компаньон     0
11        женат / замужем                 0      F    сотрудник     0
12       гражданский брак                 1      M    пенсионер     0
13        женат / замужем                 0      F    сотрудник     0
14       гражданский брак                 1      F    компаньон     1
15        женат / замужем                 0      F    сотрудник     0
16        женат / замужем                 0      F    сотрудник     0
17       гражданский брак                 1      M    сотрудник     0
18         вдовец / вдова                 2      F    пенсионер     0
19              в разводе                 3      F    сотрудник     0
20        женат / замужем                 0      M    сотрудник     0
21       гражданский брак                 1      F    сотрудник     0
22       гражданский брак                 1      F    сотрудник     0
23       гражданский брак                 1      M    сотрудник     0
24  Не женат / не замужем                 4      F    пенсионер     0
25        женат / замужем                 0      M    пенсионер     0
26        женат / замужем                 0      M  госслужащий     0
27        женат / замужем                 0      M    сотрудник     0
28        женат / замужем                 0      F    сотрудник     0
29  Не женат / не замужем                 4      F    пенсионер     0

    total_income                                 purpose  \
0         253875                           покупка жилья
1         112080                 приобретение автомобиля
2         145885                           покупка жилья
3         267628              дополнительное образование
4         158616                         сыграть свадьбу
5         255763                           покупка жилья
6         240525                       операции с жильем
7         135823                             образование
8          95856                   на проведение свадьбы
9         144425                 покупка жилья для семьи
10        113943                    покупка недвижимости
11         77069       покупка коммерческой недвижимости
12        118514                         сыграть свадьбу
13        130458                 приобретение автомобиля
14        165127              покупка жилой недвижимости
15        116820  строительство собственной недвижимости
16        289202                            недвижимость
17         90410              строительство недвижимости
18         56823      на покупку подержанного автомобиля
19        242831            на покупку своего автомобиля
20        209552                            недвижимость
21        131812                 приобретение автомобиля
22        149681      на покупку подержанного автомобиля
23        128265                         сыграть свадьбу
24        290547   операции с коммерческой недвижимостью
25         55112                    покупка недвижимости
26        150447                             образование
27        308848  строительство собственной недвижимости
28        187863  строительство собственной недвижимости
29        118514        строительство жилой недвижимости

            purpose_category
0   операции с недвижимостью
1     операции с автомобилем
2   операции с недвижимостью
3      получение образования
4         проведение свадьбы
5   операции с недвижимостью
6   операции с недвижимостью
7      получение образования
8         проведение свадьбы
9   операции с недвижимостью
10  операции с недвижимостью
11  операции с недвижимостью
12        проведение свадьбы
13    операции с автомобилем
14  операции с недвижимостью
15  операции с недвижимостью
16  операции с недвижимостью
17  операции с недвижимостью
18    операции с автомобилем
19    операции с автомобилем
20  операции с недвижимостью
21    операции с автомобилем
22    операции с автомобилем
23        проведение свадьбы
24  операции с недвижимостью
25  операции с недвижимостью
26     получение образования
27  операции с недвижимостью
28  операции с недвижимостью
29  операции с недвижимостью